@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
box-sizing: border-box;
}

:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000; 
}
body{
    background-color: var(--body-color);
    transition: background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 8px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 150px;
    margin-right:45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li i{
    color: white;
    font-size: 22px;
    margin: 0 14px;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}


.nav-user-icon img{
    width: 90px;
}
.nav-user-icon{
    margin-left: 30px;
}
.nav-user-icon img{
width: 40px;
border-radius: 50%;
cursor: pointer;
}

.search-box{
    background: #efefef;
    width: 265px;
    border-radius: 30px;
    display: flex;
    align-content: center;
    padding: 0 10px;
}

.search-box i{
    width: 18px;
    margin-top: 5px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 4px;
    outline: none;
    border: 0;
}
.online{
position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
/* content */
.container{
    display:flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 16px;
    border-radius: 4px;
}
.main-content{
    flex-basis: 47%;


}
.imp-links a i{
    color: #1876f2 ;
    margin-right: 14px;
    width: 15px;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #626262;
    width: fit-content;
}
.imp-links a:last-child{
    color: #1876f2 ;

}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin-right: 10px;
}
.shortcut-links p{
    margin: 10px 0;
    font-weight: 600;
    color: #626262;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    color: #626262;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
    color: #626262;
}
.sidebar-title h3{
    color: #626262;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 9px;
    border-bottom: 1px solid grey;
}

.event{
    display: flex;
    font-size: 12px;
    margin-bottom: 8px;
}
/* event - L */
.left-event{
    background-color: #fff;
    border-radius: 10px;
    height: 45px;
    width: 45px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgb( 0, 0, 0, 0.2);
}
.right-event h4,p {
    color: #626262;
}
.event p{
    font-size: 10px;
}

.event p i{
    margin-right: 4px;
}
.event a{
    font-size: 10px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 6px;
    padding: 3px 0;
}
.sidebar-adds{
    width: 100%;
    margin-bottom: 2px;
    border-radius: 4px;
}
.online img{
    width: 27px;
    height: 27px;
    border-radius: 50%;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.online-list .online{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.online-list p{
    font-size: 10px;
}
.story img{
    width: 30px;
    height: 30px;
    color: #1876f2;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 3px solid #1876f2;

}
.story p{
    font-size: 12px;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 9px;
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(staa.jpg);

}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(sta1.png);

}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(sta2.png);

}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(sta3.png);

}
.story5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(sta4.png);

}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 36px;
    transform: translateX(-50%);
    border: 0;
    width: 30px;
}
.user-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.write-post-container{
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
    font-size: 14px;
}
.user-profile small{
    font-size: 10px;
}
.post-input-container{
    padding-left: 50px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 10px;
    font-size: 10px;
}
.fa-video{
    font-size: 14px;
    margin-right: 10px;
color: rgb(207, 34, 34);
}
.fa-camera{
    font-size: 14px;
    margin-right: 10px;
    color: #288531;
}
.fa-face-smile{
    font-size: 16px;
    margin-right: 10px;
    color: #fdc408;
}
.post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 18px;
    color: #626262;
    margin: 16px 0;
}
.user-profile span{
    font-size: 10px;
    color: #626262;
}

.Post-text{
    color: #9a9a9a;
    margin: 12px 0;
    font-size: 12px;
}
.Post-text span{
    color: #626262;
    font-weight: 600;
}
.Post-text a{
    text-decoration: none;
    color: #1876f2;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: #626262;
}
.activity-icons i{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div{
    display: inline;
    align-items: center;
    margin-right: 30px;
}
.fa-thumbs-up{
    color: #1876f2;
}
.post-profile-icons{
display: flex;
align-items: center;
}
.post-profile-icons img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
color: #626262;
}
.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
    font-size: 12px;
}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 11px;
}
/* menus */
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 220px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgb( 0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 53px;
    right: 5%;
    max-height: 0px;
    transition: max-height 0.3s;
}
.settings-menu-h{
    max-height: 390px;
    position: absolute;
}
.user-profile a{
    font-size: 8px;
    color: #1876f2;
    text-decoration: none;

}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.im{
    width: 20px;
    height: 20px;
}
.settings-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-links a{
    font-size: 13px;
    text-decoration:none;
    color: #626262;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.setting-links a i{
    font-size: 10px;
}

#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 38px;
    height: 22px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    display: inline-block;

}
#dark-btn.dark-btn-on{
padding-left: 20px;
background: #0a0a0a;

}